{% extends '_default/page.html.twig' %}

{% block content %}
      <article>
        <h1>{{ page.title|e }}</h1>
        <time>{{ page.date|format_date('long') }}</time>
        {{ page.content }}
      </article>
{% endblock %}